body {
  margin: 0;
  text-align: center;
  line-height: 1;
}
h1 {
  margin: 2;
}
.header {
  background-color: brown;
}
.main {
  background-color: rgb(242, 138, 10);
  line-height: 15;
}
.aside {
  background-color: blueviolet;
}
@media (min-width: 600px) {
  .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
   .header, .footer {
          width:100%;
      }
  .main {
          flex: 4;
      }
  .aside {
          flex: 1;

      }
  }

