body {
  margin: 0;
  text-align: center;
  line-height: 3;
}
h1 {
  margin: 0;
}
.header {
  background-color: blueviolet;
}
.navigation {
background-color: brown;
line-height: 15;
}
.aside {
  background-color: aquamarine;
}
@media (min-width: 600px) {
  .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 100vh;
  }
  .header {
    width: 100%;
  }
  .navigation {
    flex: 600;
    height: 600px;
  }
  .main {
    
  }
  .aside {
    flex: 300;
  }
  .article {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

}