
body {
  margin: 0;
  text-align: center;
  line-height: 5;
}

.div1 {
  height: 200px;
  width: 45%;
}
.header , .navigation , .main , .aside , .div1  {
    background-color: brown;
    margin: 10px;
}

.main-container{
  display:flex;
  align-items: center;
  margin:0 auto;
  padding:5px;

}
.navigation {
    background-color: rgb(255, 127, 127);
    width:1023px;
    height:400px;
}
.main {
    background-color: rgb(242, 138, 10);
    width:50%;
}
.aside {
    background-color: blueviolet;
    float:right;
    position: relative;
    height:800px;
    top:-410px;
    right:-500px;
    padding-bottom:10px;
    width:45%;
    margin:auto;
}
.div2 {
  background:green;
  width:45%;
}
.footer {
    background-color: rgb(255, 0, 204);
    margin:0 auto;
    padding:5px;
}
@media (min-width: 600px) {
.container {
  display: flex;
 /* flex-direction: row;*/
  flex-wrap: wrap;
}
.header, .footer {
  width:100%;
}
/*.navigation{
  flex: 8;
}*/
.main {
  width:45%;

}
/*.aside {
  flex: 2;
  justify-content: space-between;
}*/
}