body {
  margin: 5;
  text-align: center;
  line-height: 5;
}
h1{
  margin: 0;
}
.header {
  background-color: brown;
}
.main {
  background-color: rgb(242, 138, 10);
}
.aside {
  background-color: blueviolet;
}
.bot {
  background-color: #1c0adb;
}
.mid {
  background-color: #1c0adb;
}
.foot {
  background-color: aquamarine;
}
